{% extends "base.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Some assemblage required &raquo; Feed"
  href="{{ config.site_url }}feed/feed.rss" />
<script data-goatcounter="https://djones.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' fonts.googleapis.com; font-src fonts.gstatic.com ; img-src 'self' mirrors.creativecommons.org data: w3.org/svg/2000;; script-src  'self' https://gc.zgo.at; connect-src 'self' https://djones.goatcounter.com/count; ">
{% endblock %}


{% block site_nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
  <div class="md-sidebar__scrollwrap">
    {% if nav %}
      {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "navigation" in page.meta.hide %}
      {% endif %}
      <div class="md-sidebar__inner">
        {% include "partials/nav.html" %}
      </div>
  </div>
</div>
{% endif %}
{% if "toc.integrate" not in features %}
  {% if page.meta and page.meta.hide %}
    {% set hidden = "hidden" if "toc" in page.meta.hide %}
  {% endif %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <!-- {% include "partials/toc.html" %} -->
        {% include "partials/archives-list.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}


{% block container %}

<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    {% block content %}
    {% include "partials/post-list.html" %}
    {% endblock %}
  </article>




  {% endblock %}
