{% extends "base.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Some assemblage required &raquo; Feed"
  href="{{ config.site_url }}feed/feed.rss" />
{% endblock %}


{% block hero %}
<aside class="md-banner">
  <div class="md-banner__inner md-grid md-typeset">
    {% set myDate = page.meta.date %}
    {% set year = "{}".format(myDate).split("-")[0] | int %}
    {% if year < 2025 %} <p><strong><span style="color:yellow">⚠</span></strong> old Wordpress post (circa {{ year }})
      may have broken links, embeds, and <a href="/blog2/about.html">other limitations</a></p>
      {% endif %}
  </div>
  {% if page.meta.coverImage %}
  <!-- figure class="md-cover-image" style="margin: 0px; background-image: url('images/{{ page.meta.coverImage }}');" -->
    <img class="memex-image" src="images/{{ page.meta.coverImage }}" alt="{{ page.title }}" width="100%" height="auto">
  <!-- /figure -->
  {% endif %}

</aside>
{% endblock %}

{% block container %}

<div class="md-content" data-md-component="content">
  {% include "partials/prev-next.html" %}

  <article class="md-content__inner md-typeset">
    {% block content %}
    {% include "partials/post-content.html" %}
    {% endblock %}
  </article>

  {% include "partials/comments-pingbacks.html" %}

  {% include "partials/prev-next.html" %}
</div>

{% endblock %}
