

{% if page.meta.comments %}
<div class="comments-container">
  <h3>{{ page.meta.comments|length }} {% if page.meta.comments|length==1 %}Comment{% else %}Comments{% endif %}</h3>

  <ul>
    {% for comment in page.meta.comments %}
    <li id="comment-{{ comment.id }}">
      <p><strong>
          {% if comment.author.url %}
          <a href="{{ comment.author_url }}">{{ comment.author }}</a>
          {% else %}
          {{ comment.author }}
          {% endif %}
        </strong> 📅 {{ comment.date }}
        <a class="headerlink" href="#comment-{{ comment.id }}">#</a>
      </p>
      <div class="comment-content">
        {{ comment.content | replace("\n", "<br />") }}
      </div>
    </li>
    {% endfor %}
</div>
{% endif %}
{% if page.meta.pingbacks %}
<div class="pingbacks-container">
  <h3>{{ page.meta.pingbacks|length }} {% if page.meta.pingbacks|length==1 %}Pingback{% else %}Pingbacks{% endif %}
  </h3>

  <ul>
    {% for pingback in page.meta.pingbacks %}
    <li id="comment-{{ pingback.id }}">
      <p><a href="{{ pingback.author_url }}">
          {{ pingback.author }}</a> 📅 {{ pingback.date }} </p>
    </li>
    {% endfor %}
</div>
{% endif %}
