
{% if page.meta.comments or page.meta.pingbacks %}
<style>
  .comments-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: var(--md-admonition-bg-color);
    color: var(--md-admonition-fg-color);
    font-size: 0.8rem;
  }

  .comments-container ul {
    list-style-type: none;
    padding: 0;
  }

  .comments-container li {
    margin-bottom: 1em;
    padding: 0.5em;
    line-height: 1.5;
  }

  .comments-container a {
    color: var(--md-typeset-a-color);
    text-decoration: none;
  }

  .pingbacks-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: var(--md-admonition-bg-color);
    color: var(--md-admonition-fg-color);
    font-size: 0.8rem;
  }

  .pingbacks-container a {
    color: var(--md-typeset-a-color);
    text-decoration: none;
  }

  .pingbacks-container li {
    margin-bottom: 0.5em;
    padding: 0.5em;
    line-height: 1.5;
  }
</style>
{% endif %}

{% if page.meta.comments %}
<div class="comments-container">
  <h3>{{ page.meta.comments|length }} {% if page.meta.comments|length==1 %}Comment{% else %}Comments{% endif %}</h3>

  <ul>
    {% for comment in page.meta.comments %}
    <li id="comment-{{ comment.id }}">
      <p><strong>
          {% if comment.author.url %}
          <a href="{{ comment.author_url }}">{{ comment.author }}</a>
          {% else %}
          {{ comment.author }}
          {% endif %}
        </strong> 📅 {{ comment.date }}</p>
      <div class="comment-content">
        {{ comment.content | replace("\n", "<br />") }}
      </div>
    </li>
    {% endfor %}
</div>
{% endif %}
{% if page.meta.pingbacks %}
<div class="pingbacks-container">
  <h3>{{ page.meta.pingbacks|length }} {% if page.meta.pingbacks|length==1 %}Pingback{% else %}Pingbacks{% endif %}
  </h3>

  <ul>
    {% for pingback in page.meta.pingbacks %}
    <li id="comment-{{ pingback.id }}">
      <p><a href="{{ pingback.author_url }}">
          {{ pingback.author }}</a> 📅 {{ pingback.date }} </p>
    </li>
    {% endfor %}
</div>
{% endif %}
