<!-- show list of archives as a bulleted list -->
 <style>
    .md-nav__item {
        padding-bottom: 0.5em;
    }
    .md-nav__title {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    .md-nav__list {
        padding-top: 0.5em;
    }
</style>
<!-- <h3 class="archive-title">Archives</h3> -->
<nav class="md-nav md-nav--secondary">
    <label class="md-nav__title">Archives</label>
    <!-- <ul class="archives-list"> -->
    <ul class="md-nav__list">
        {% for archive in page.meta.archives %}
        <li class="md-nav__item">
            <a href="archives/{{ archive.month }}-{{ archive.year }}.html">
            {{ archive.month }} {{ archive.year }} - {{ archive.count }} 
            {% if archive.count == 1 %}
                post 
            {% else %}
                posts 
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
              