

{% if "next" in page.meta %}
<nav class="md-footer__inner md-grid" aria-label="Footer"> <a href="{{ page.meta.next.url }}"
    class="md-footer__link md-footer__link--prev" aria-label="Previous: {{ page.meta.next.text }}">
    <div class="md-footer__button md-icon">
      {% include ".icons/material/arrow-left.svg" %}
    </div>
    <div class="md-footer__title"> <span class="md-footer__direction"> Next </span>
      <div class="md-ellipsis"> {{ page.meta.next.text }} </div>
    </div>
  </a> <a href="{{ page.meta.previous.url }}" class="md-footer__link md-footer__link--next"
    aria-label="Next: {{ page.meta.previous.text }}">
    <div class="md-footer__title"> <span class="md-footer__direction"> Previous </span>
      <div class="md-ellipsis"> {{ page.meta.previous.text }} </div>
    </div>
    <div class="md-footer__button md-icon">
      {% include ".icons/material/arrow-right.svg" %}
    </div>
  </a> </nav>
{% endif %}
