{% extends "base.html" %}



{% block container %}

<style>
  .category {
    width: 100%;
    padding: 0.5em;
/*    color: var(--md-admonition-bg-color);
    background-color: var(--md-admonition-fg-color); */
  }
  .category h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
<div class="md-content" data-md-component="content">
  {% include "partials/prev-next.html" %}
  <div class="category">
    <h2>{{ page.meta.title }} ({{ page.meta.item_count }}
      {% if page.meta.item_count == 1 %}item){% else %}items){% endif %}
    </h2>
  </div>

  <article class="md-content__inner md-typeset">
    {% block content %}
    {% include "partials/post-list.html" %}
    {% endblock %}
  </article>

  {% include "partials/prev-next.html" %}

  {% endblock %}
